.sandbox-unauth-action {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sandbox-unauth-action .title {
  font-weight: 600;
}

.sandbox-unauth-action .message {
  margin-top: 1rem;
}

.sandbox-unauth-action .button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.sandbox-unauth-action .link {
  margin-top: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
}
