.sandbox-sign-in {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sandbox-sign-in .title {
  font-weight: 600;
}

.sandbox-sign-in .message {
  margin-top: 1rem;
}

.sandbox-sign-in .email-input {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.sandbox-sign-in .button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.sandbox-sign-in .submit-container {
  margin-top: 1rem;
  max-height: 2rem;
}

.sandbox-sign-in .link {
  margin-top: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
}
