.popup-sign-in {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-sign-in .email-input {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.popup-sign-in .submit {
  padding: 0.5rem;
  cursor: pointer;
}

.popup-sign-in .submit-container {
  margin-top: 1rem;
  max-height: 2rem;
}
.popup-sign-in .link {
  margin-top: 1.5rem;
  text-decoration: underline;
}
