@use "../../base";

.popup-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  padding: 1rem;
  z-index: 10; //Very large. This is an overlay.
}

.generic-popup {
  background-color: base.$card-bg-color;
  min-width: 60%;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 2px black;
}

.custom-popup {
  background-color: base.$card-bg-color;
  min-width: 60%;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 2px black;
}

.generic-popup .title {
  font-weight: 600;
}

.generic-popup .message {
  margin-top: 1rem;
}

.generic-popup .buttons {
  margin-top: 2rem;
}

.generic-popup .button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.generic-popup .links {
  margin-top: 2rem;
}

.generic-popup .link {
  text-decoration: underline;
  cursor: pointer;
}
