@use "../../base";

.home {
  width: 100%;
  height: 100%;
}

.home > a {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home > div {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .email-input {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.home .submit {
  padding: 0.5rem;
}

.home .submit-container {
  margin-top: 1rem;
  max-height: 2rem;
}
