@use "../base";

.discover {
  @extend %app-area;
}

.discover > div {
  width: 100%;
  padding: 1rem;
  display: flex;
}

.discover .top {
  height: 10%;
  justify-content: space-between;
}

.discover .deck {
  height: 70%;
  justify-content: center;
}

.discover .bottom {
  height: 18%;
  justify-content: space-evenly;
}

.discover .seeker {
  height: 2%;
  padding: 0.2rem;
}

.discover .top .icon-btn {
  height: 100%;
}

.discover .deck .track {
  position: relative;
  height: 100%;
  width: 100%;
}

.discover .deck .track .item {
  position: absolute;
  height: 100%;
  width: 100%;
}

.discover .bottom * {
  padding: 0.5rem;
  height: fit-content;
}

.discover .seeker .foreground {
  background: #ffa3a3;
  width: 100%;
  height: 100%;
}
