.discover .deck {
  width: 100%;
  height: 70%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.discover .deck .track-container {
  position: relative;
  height: 100%;
  width: 100%;
}
