.discover > .deck {
  position: relative;
  width: 100%;
  height: calc(
    (100% - 5rem) / 2
  ); //Share space evenly with bottom (full minus top divided by 2)
  padding: 1rem;
  display: flex;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
}

.discover > .deck > .deck-items-container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0; //Create a stacking context just for the deck items.
}
