@use "../../base";

.discover > .destination-picker {
  position: absolute;
  width: 100%;
  height: 100%;
  background: base.$app-area-bg-color;
}

.discover > .destination-picker > .title {
  position: relative;
  width: 100%;
  height: 3rem;
}

.discover > .destination-picker > .search {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.discover > .destination-picker > .bottom {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  //Use rest of height less title, search and margins.
  height: calc(100% - 8rem);
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
}
