.sourcePicker {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--root-area-bg-color);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.sourcePicker > .title {
  position: relative;
  width: 100%;
  padding-top: 1rem;
  height: 4rem;
}

.sourcePicker > .search {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}

.sourcePicker > .bottom {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  /* Use rest of height less title, search and top-level margins. */
  height: calc(100% - 9rem);
  padding-left: 1rem;
  padding-right: 12px; /* Scrollbar is always 4px wide. Balance out. */
  overflow-y: scroll;
  overflow-x: hidden;
}

.sourcePicker > .bottom > .tabListGroup {
  padding-top: 1rem;
}

.sourcePicker .selectedSourceItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.5rem;
  background: var(--card-bg-color);
  margin-bottom: 0.5rem;
  border: 2px solid var(--selected-outline-color);
  border-radius: 0.75rem;
}

.sourcePicker .selectedSourceItem .icon {
  height: 3rem;
  object-fit: cover;
}

.sourcePicker .selectedSourceItem .text {
  padding-top: 0.25rem;
  font-size: 1rem;
}

.sourcePicker .bottom > .loaderEmpty {
  /* Use rest of height less title, search and top-level margins. */
  height: calc(100% - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sourcePicker .loaderErrorFullPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
