@use "../../base";

.discover .deck-item {
  position: absolute;
  height: 100%;
  width: 100%;
}

.discover .deck-item > .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  // border-radius: 1rem; //Spotify does not allow rounded corners
  background-color: base.$card-bg-color;
}

.discover .deck-item > .play-pause {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.discover .deck-item > .play-pause .button {
  position: absolute;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
  height: 8rem;
  width: 8rem;
}
