.discover > .bottom {
  width: 100%;
  height: 20%;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.discover > .bottom .related-sources {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  overflow-y: auto;
}

.discover > .bottom .source {
  font-size: 0.875rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 50000000rem;
  padding: 0.5rem;
}

.discover > .bottom .profile {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.discover > .bottom .profile > .image {
  width: 100%;
  border-radius: 50%;
}
