.discover .bottom-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.discover .bottom-right .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.discover .bottom-right .artist-image {
  position: relative;
  width: 100%;
  height: 100%; //Stretch to share height evenly with like-button
  text-align: center;
  pointer-events: all;
  z-index: 0; //Create a new stacking context just for the swap chain items
}

.discover .bottom-right .artist-image .swap-item {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.discover .bottom-right .artist-image .swap-item.active {
  position: relative;
  opacity: 1;
  z-index: 1;
}

.discover .bottom-right .like-button {
  width: 100%;
  height: 100%; //Stretch to share height evenly with artist-image
  text-align: center;
  cursor: pointer;
  pointer-events: all;
}

.discover .bottom-right .like-button.animate {
  animation: pulse 0.25s ease;
}

.discover .bottom-right .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
  pointer-events: all;
}
