.discover {
  position: relative;
  width: 100%;
  height: 100%;
}

.discover > .deck-loader-error {
  height: calc(100% - 5rem); //Full minus top
  display: flex;
  flex-direction: column;
  justify-content: center;
}
