.seeker {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0.5rem;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
}

.seeker .foreground {
  background: linear-gradient(to right, var(--primary-color), #00ffd5);
  height: 100%;
  transition: width 0.5s;
  box-shadow: 0 0 8px rgba(0, 229, 204, 0.4);
}
