@use "../../base";

.discover > .destination-picker {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: base.$root-area-bg-color;
}

.discover > .destination-picker > .title {
  position: relative;
  width: 100%;
  height: 3rem;
}

.discover > .destination-picker > .search {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.discover > .destination-picker > .bottom {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  //Use rest of height less title, search and margins.
  height: calc(100% - 8rem);
  padding-left: 1rem;
  padding-right: 8px; //Scrollbar is always 8px wide. Balance out.
  overflow-y: scroll;
}

.discover > .destination-picker .bottom > .loader-empty {
  //Use rest of height less title, search and top-level margins.
  height: calc(100% - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discover > .destination-picker .loader-error-full-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
