.discover > .deck {
  width: 100%;
  height: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.discover > .deck > .deck-items-container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0; //Create a stacking context just for the deck items.
}
