.discover .seeker {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0.5rem;
  z-index: 1;
}

.discover .seeker .foreground {
  background: #afafaf;
  height: 100%;
  transition: width 0.5s;
}
