.top {
  position: relative;
  width: 100%;
  height: 5rem; /* Button height(3rem) + padding top + padding bottom */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  pointer-events: none;
}
