.destinationPicker {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 8, 0.95);
  backdrop-filter: blur(20px);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.destinationPicker > .title {
  position: relative;
  width: 100%;
  padding-top: 1rem;
  height: 4rem;
}

.destinationPicker > .search {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}

.destinationPicker > .bottom {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  height: calc(100% - 9rem);
  padding-left: 1rem;
  padding-right: 12px;
  overflow-y: scroll;
}

.destinationPicker .bottom > .loaderEmpty {
  height: calc(100% - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destinationPicker .loaderErrorFullPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
