.balanced-grid {
  width: 100%;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: calc(50% - 0.25rem) calc(50% - 0.25rem); //half the full grid width minus the gap.
  padding-bottom: 1rem;
}

.balanced-grid .grid-item {
  background-color: aqua;
  height: 8rem;
  width: 8rem;
}

.balanced-grid .grid-item .item-text {
  width: 80%;
  height: 30%;
  text-align: center;
  margin: auto;
  translate: 0% calc(4rem - 50%);
}

.balanced-grid .selected {
  background-color: lightcoral;
}
