.balanced-grid {
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem); //half the full grid width minus the gap.
  padding-bottom: 1rem;
}

.balanced-grid .grid-item {
  background-color: aqua;
  height: 8rem;
  width: 8rem;
}

.balanced-grid .grid-item .item-text {
  width: 80%;
  height: 30%;
  text-align: center;
  margin: auto;
  translate: 0% calc(4rem - 50%); //auto margin places it at the center. translate half height down minus item half height.
}
