.errorOneMessageTwoAction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  background: var(--root-area-bg-color);
  padding: 1rem;
}

.errorOneMessageTwoAction > .message {
  padding-bottom: 1rem;
}

.errorOneMessageTwoAction > .button {
  height: 2rem;
}
