@import url('../../animations.css');

.componentLoader {
  width: 100%;
  height: 100%;
  background: var(--root-area-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentLoader .spinner {
  width: 50%;
  animation: rotate 3s linear infinite;
}
