@use "../../base";

.component-loader {
  width: 100%;
  height: 100%;
  background: base.$root-area-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-loader .spinner {
  width: 50%;
  animation: rotate 3s linear infinite;
}
