@import url('../../animations.css');

.componentLoader {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentLoader .spinner {
  width: 50%;
  animation: rotate 3s linear infinite;
  filter: hue-rotate(160deg) brightness(1.2);
  opacity: 0.8;
}
