.icon-button {
  border: none;
  border-radius: 16.667%;
  cursor: pointer;
  pointer-events: all;
}

.icon-button > .icon {
  height: 100%;
  width: 100%;
  padding: 16.667%;
  object-fit: contain;
}
