.iconButton {
  border: none;
  border-radius: 16.667%;
  cursor: pointer;
  pointer-events: all;
  width: 100%;
  height: 100%;
  padding: 0rem;
  background-color: transparent;
  transition: filter 0.15s ease;
}

.iconButton:hover {
  filter: drop-shadow(0 0 6px var(--glow-color));
}

.iconButton > .icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
