.iconButton {
  border: none;
  border-radius: 16.667%;
  cursor: pointer;
  pointer-events: all;
  width: 100%;
  height: 100%;
  padding: 0rem;
}

.iconButton > .icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
