.iconTextGridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--card-bg-color);
  border-radius: 0.75rem;
  cursor: pointer;
}

.iconTextGridItem.selected {
  border: 2px solid var(--selected-outline-color);
  border-radius: 0.75rem;
}

.iconTextGridItem > .icon {
  width: 100%;
  height: 30%;
  object-fit: contain;
}

.iconTextGridItem > .text {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1rem;
  text-align: center;
}
