@use "../../base";

.tab-list-group .tabs {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
}

.tab-list-group .tabs .tab-item {
  font-size: 0.875rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.tab-list-group .divider {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  border-bottom: 1px solid base.$divider2-color;
}

.tab-list-group .selector {
  height: 0.3rem;
  background-color: base.$selector-color;
}

.tab-list-group .list {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
