@use "../../base";

.title-bar {
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid base.$divider-color;
}

.title-bar > .close {
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 0rem;
  left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
