@use "../../base";

.error-one-message-two-action {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  background: base.$app-area-bg-color;
  padding: 1rem;
}

.error-one-message-two-action > .message {
  padding-bottom: 1rem;
}

.error-one-message-two-action > .button {
  height: 2rem;
}
