@use "./base";
@use "./animations";

@font-face {
  font-family: Inter;
  src: url(./assets/Inter.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font: 100% base.$font-stack;
  color: base.$primary-color;
  background: base.$empty-area-bg-color;
  width: 100%;
  display: flex;
  justify-content: center;
}

#root {
  position: relative;
  @extend %root-area;
}
